<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ServletConfigandContext</display-name>
  <servlet>
  <servlet-name>Servlet</servlet-name>
  <servlet-class>config_context.Servlet</servlet-class>
 
  <init-param>
  <param-name>driver</param-name>
  <param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>
  </init-param>
  
  </servlet>
  
  <context-param>
  <param-name>username</param-name>
  <param-value>system</param-value>
  </context-param>
  
  <context-param>
  <param-name>password</param-name>
  <param-value>oracle</param-value>
  </context-param>
  
  
  <servlet-mapping>
   <servlet-name>Servlet</servlet-name>
   <url-pattern>/servlet1</url-pattern>
  </servlet-mapping>
</web-app>